*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
ul {
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 247, 190);
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.search-form {
  justify-content: center;
  text-align: center;
  align-items: center;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: 30px;
  max-width: calc(100vw - 60px);
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  border: 1px solid #aa4e1811;
  border-radius: 5px;
  height: 300px;
  background-color: rgb(236, 112, 62);
  overflow: hidden;
  animation-duration: 1500ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: scale(1.05);
}

.photo-card__img {
  display: block;
  width: 100%;
  height: 75%;
  padding: 2px;
  border-radius: 5px;
  object-fit: cover;
  display: flex;

  transition: filter 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card__info {
  display: flex;
  justify-content: center;
}

.stats-item {
  padding: 14px 10px;
  margin: 4px;
  border-radius: 20%;

  transition: all 250ms 250ms;
  color: rgb(240, 243, 245);
}

.stats-item:hover {
  color: rgb(248, 247, 190);
}

button {
  padding: 12px;
  color: rgb(240, 243, 245);

  border: none;
  border-radius: 30px;

  font-size: 24px;
  background-color: rgba(236, 89, 31, 0.925);
}

.input-field {
  padding: 10px 20px 10px 40px;

  border-radius: 30px;
  outline: none;
  border: 2px solid #eee;

  font-size: 24px;

  background-repeat: no-repeat;
  width: 300px;
  height: 100%;
  /* text-align: center; */
}

.load-more-btn {
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  opacity: 0;
}

.is-shown {
  opacity: 1;
}

.up {
  display: block;
  position: fixed;
  bottom: 70px;
  right: 30px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  z-index: 1500;

  background: rgb(228, 150, 105);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #882006;
  opacity: 0.7;
}

.up:hover {
  opacity: 1;
}
